<div id = "table-scroll"
	 class = "table-scroll">
  <table id = "financial-list"
         class = "table-striped">
	<thead id = "list">
      <tr>
        <!-- Franchise -->
        <th scope = "col" class = "td-left">
            <%=I18n.t('financial.index.franchise')%>
        </th>
        <!-- Year -->
        <th scope = "col" class = "td-left">
        	<%=I18n.t('financial.index.year')%>
        </th>

        <!-- Received -->
        <th scope = "col" class = "td-left">
        	<%=I18n.t('financial.index.received')%>
        </th>

        <!-- Revenues -->
        <th scope = "col" class = "td-right">
            <%=I18n.t('financial.index.revenues')%>
        </th>        

        <!-- Expenses -->
        <th scope = "col" class = "td-right">
            <%=I18n.t('financial.index.expenses')%>
        </th>        

        <!-- Monthly Clients -->
        <th scope = "col" class = "td-center">
            <%=I18n.t('financial.index.monthly_clients')%>
        </th>        

        <!-- Total Monthly Fees -->
        <th scope = "col" class = "td-right">
            <%=I18n.t('financial.index.total_monthly_fees')%>
        </th>        

        <!-- Quarterly Clients -->
        <th scope = "col" class = "td-center">
            <%=I18n.t('financial.index.quarterly_clients')%>
        </th>        

        <!-- Total Quarterly Fees -->
        <th scope = "col" class = "td-right">
            <%=I18n.t('financial.index.total_quarterly_fees')%>
        </th>        
            
        <th></th>

        <th></th>

        <th></th>

      </tr>
    </thead>

    <% if @financials.size > 0 %>
      <tbody>    
    	<%@financials.each do |financial|%>
    	  <tr>
            <!-- Franchise  -->
            <td  data-name = "Franchise"
                 scope="col" 
                 class = "td-left">
              <%=financial.franchise.number_and_name %> 
            </td>
            <!-- Year -->
    	    <td data-name = "Year"
    	      	scope = "col"
    	      	class = "td-left">
    	  	    <%=financial.year%>
    	  	</td>

            <!-- Received-->
    	  	<td data-name = "Received" 
    	  	   	scope = "col"
    	  	   	class = "td-left">
     	  	    <%=I18n.l(financial.updated_at.in_time_zone, format: :prp)%>
    	  	</td>
            
            <!-- Revenues -->
            <td data-name = "Revenues" 
                scope = "col"
                class = "td-right">
                <%=number_to_currency(financial.total_revenues)%>
            </td>

            <!-- Expenses -->
            <td data-name = "Expenses" 
                scope = "col"
                class = "td-right">
                <%=number_to_currency(financial.total_expenses)%>
            </td>

            <!-- Monthly Clients -->
            <td data-name = "Monthly Clients" 
                scope = "col"
                class = "td-center">
                <%=financial.monthly_clients%>
            </td>

            <!-- Monthly Fees -->
            <td data-name = "Monthly Fees" 
                scope = "col"
                class = "td-right">
                <%=number_to_currency(financial.total_monthly_fees)%>
            </td>

            <!-- Quarterly Clients -->
            <td data-name = "Quarterly Clients" 
                scope = "col"
                class = "td-center">
                <%=financial.quarterly_clients%>
            </td>

            <!-- Quarterly Fees -->
            <td data-name = "Quarterly Fees" 
                scope = "col"
                class = "td-right">
                <%=number_to_currency(financial.total_quarterly_fees)%>
            </td>            
    	  	
            <!-- Edit Link if User can Edit -->
    	  	<%if can? :edit, financial %>
    	  	  <td data-name = ""
    	  	      class = "td-center">
    	  	      <%=link_with_icon(edit_admins_financial_path(financial),
    	  	      "edit",
    	  	      I18n.t('financial.index.edit_link'),
    	  	      "",
    	  	      false)%>
    	  	  </td>
    	  	<%else%>   
    	  	  <td></td>
    	  	<%end%>
            
            <!-- Delete Link if User can Delete -->
    	  	<%if can? :delete, financial%>
    	  	  <td data-name = ""
    	  	   	  class = "td-center">
    	  	      <%=link_with_icon(admins_financial_path(id: financial),
    	  	      "delete",
    	  	      I18n.t('financial.index.delete_link'),
    	  	      I18n.t('financial.index.delete_confirm'),false)%>
    	  	  </td>
    	  	<%else%>
    	  	  <td></td>
    	  	<%end%>

             <!-- Audit Icon and Link  -->
            <td data-name="" class = "td-center">
              <%if financial.audits.size > 0%>
                <%=link_with_icon(
                admins_financials_audit_path(id:financial),
                "audit",
                I18n.t('financial.index.audit_link'),
                "",
                false)%>
              <%end%>    
            </td>
    	  </tr>
   	  	<%end%>
      </tbody>
  	<%end%>
  </table>
</div>  	