<div class = "row">
  <div class = "col-12">
    <div class = "card">
      <div class = "card-header login-header" style="display:inline">
        <h3 class = "float-left">
          <%=I18n.t('franchise.show.title', franchise_name: @franchise.full_denomination)%>
        </h3>
        <%= link_to (I18n.t('franchise.show.return_btn')), admins_franchises_path, class: "btn btn-light float-right"%>
      </div>
    </div>
    <!--FRANCHISE INFORMATION -->
    <div class = "card-group accordion-padgett" id="accordion" role="tablist" 
         aria-multiselectable="true">
      <div class = "card">
        <div class = "card-header card-background-padgett" role="tab" 
          id="headingFran">
          <h4 class="card-title">
            <h3 class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFran" aria-expanded="true" aria-controls="collapseFran">
              <%=I18n.t('franchise.show.franchise_info')%>
            </h3>
          </h4>
        </div>
        <div id="collapseFran" class="collapse" role="tabpanel" aria-labelledby="headingFran">
          <div class="card-body">
            <%= render :partial => 'admins/franchises/show/fran_details', :locals => {:franchise => @franchise} %>
          </div>
        </div>
      </div>
    </div>
    <!--ACCOUNTANT INFORMATIONN -->
    <div class = "card-group accordion-padgett" id="accordion" role="tablist" 
         aria-multiselectable="true">
      <div class = "card">
        <div class = "card-header card-background-padgett" role="tab"
          id="headingAcct">
          <h4 class="card-title">
            <h3 class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAcct" aria-expanded="true" aria-controls="collapseAcct">
              <%=I18n.t('franchise.show.accountants')%>
            </h3>
          </h4>
        </div>
        <div id="collapseAcct" class="collapse" role="tabpanel" 
          aria-labelledby="headingAcct">
          <div class="card-body">
            <%= render :partial => 'admins/franchises/show/accountant_details', :locals => {:franchise => @franchise} %>
          </div>
        </div>
      </div>
    </div>

    <!--LATEST ROYALTY -->
    <div class = "card-group accordion-padgett" id="accordion" role="tablist"     aria-multiselectable="true">
      <div class = "card">
        <div class = "card-header card-background-padgett" role="tab"
          id="headingRoy">
          <h4 class="card-title">
            <h3 class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRoy" aria-expanded="true" aria-controls="collapseRoy">
              <%=I18n.t('franchise.show.remittances')%>
            </h3>
          </h4>
        </div>
        <div id="collapseRoy" class="collapse" role="tabpanel" 
          aria-labelledby="headingRoy">
          <div class="card-body">
            <%= render :partial => 'admins/franchises/show/remittances', :locals => {:franchise => @franchise} %>
          </div>
        </div>
      </div>
    </div>

    <!--PAYMENT METHODS -->
    <div class = "card-group accordion-padgett" id="accordion" role="tablist" 
         aria-multiselectable="true">
      <div class = "card">
        <div class = "card-header card-background-padgett" role="tab"
          id="headingPmethod">
          <h4 class="card-title">
            <h3 class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePmethod" aria-expanded="true" aria-controls="collapsePmethod">
              <%=I18n.t('franchise.show.payment_methods')%>
            </h3>
          </h4>
        </div>
        <div id="collapsePmethod" class="collapse" role="tabpanel" 
          aria-labelledby="headingpmethod">

          <div class="card-body">
            <h4>Bank Accounts</h4>
            <%= render :partial => 'admins/franchises/show/bank_accounts_details', :locals => {:franchise => @franchise} %>
          </div>
          <div class="card-body">
            <h4>Credit Cards</h4>
            <%= render :partial => 'admins/franchises/show/credit_cards_details', :locals => {:franchise => @franchise} %>
          </div>
        </div>
      </div>
    </div>
    <!--WEBSITE PREFERENCE  -->
    <div class = "card-group accordion-padgett" id="accordion" role="tablist" 
         aria-multiselectable="true">
      <div class = "card">
        <div class = "card-header card-background-padgett" role="tab"
          id="headingWebsite">
          <h4 class="card-title">
            <h3 class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseWebsite" aria-expanded="true" aria-controls="collapseWebsite">
              <%=I18n.t('franchise.show.website_pref')%>
            </h3>
          </h4>
        </div>
        <div id="collapseWebsite" class="collapse" role="tabpanel" 
          aria-labelledby="headingWebsite">
          <div class="card-body">
            <%= render :partial => 'admins/franchises/show/website_details', :locals => {:franchise => @franchise} %>
          </div>
        </div>
      </div>
    </div>

    <!--FINANCIALS  -->
    <div class = "card-group accordion-padgett" id="accordion" role="tablist" 
         aria-multiselectable="true">
      <div class = "card">
        <div class = "card-header card-background-padgett" role="tab"
          id="headingFinancial">
          <h4 class="card-title">
            <h3 class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFinancial" aria-expanded="true" aria-controls="collapseFinancial">
              <%=I18n.t('franchise.show.financials')%>
            </h3>
          </h4>
        </div>
        <div id="collapseFinancial" class="collapse" role="tabpanel" 
          aria-labelledby="headingFinancial">
          <div class="card-body">
            <%= render :partial => 'admins/franchises/show/financial_details', :locals => {:franchise => @franchise} %>
          </div>
        </div>
      </div>
    </div>

    <!--DOCUMENTS  -->
    <div class = "card-group accordion-padgett" id="accordion" role="tablist" 
         aria-multiselectable="true">
      <div class = "card">
        <div class = "card-header card-background-padgett" role="tab"
          id="headingDocument">
          <h4 class="card-title">
            <h3 class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDocument" aria-expanded="true" aria-controls="collapseDocumentl">
              <%=I18n.t('franchise.show.documents')%>
            </h3>
          </h4>
        </div>
        <div id="collapseDocument" class="collapse" role="tabpanel" 
          aria-labelledby="headingDocument">
          <div class="card-body">
            <%= render :partial => 'admins/franchises/show/document_details', :locals => {:franchise => @franchise} %>
          </div>
        </div>
      </div>
    </div>

    <!--INSURANCE  -->
    <div class = "card-group accordion-padgett" id="accordion" role="tablist" 
         aria-multiselectable="true">
      <div class = "card">
        <div class = "card-header card-background-padgett" role="tab"
          id="headingInsurance">
          <h4 class="card-title">
            <h3 class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseInsurance" aria-expanded="true" aria-controls="collapseInsurance">
              <%=I18n.t('franchise.show.insurance')%>
            </h3>
          </h4>
        </div>
        <div id="collapseInsurance" class="collapse" role="tabpanel" 
          aria-labelledby="headingInsurance">
          <div class="card-body">
            <%= render :partial => 'admins/franchises/show/insurance_details', :locals => {:franchise => @franchise} %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>  
  


