@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";


:root {
  --padgett-blue:#002b7f;
  --padgett-green:#7fba00;
  --padgett-red:#c70039;
  --padgett-orange: #fc652d;
  --padgett-light-grey: #4f4f57;
  --nav-background: rgba(127,186,0,0.60);
  --card-background: rgba(0, 43, 127, 0.05);
  font-size:15px;
  
}

//Overriding some of the variables
$dropdown-bg:  #e5f1cc;
$dropdown-link-hover-bg: darken(#e5f1cc,10%);
$dropdown-link-active-bg: darken(#e5f1cc,10%);
$dropdown-link-color: var(--padgett-blue);


.padgett-blue-icon {
 color: var(--padgett-blue);
}

.light-grey-icon {
  color: var(--padgett-light-grey);
}

.attention-icon {
  color: var(--padgett-red);
}

.warning-icon {
  color: var(--padgett-orange);
}

.padgett-green-icon {
 color: var(--padgett-green);
}

.hidden_field {
  display: none;
}

.button-text{
  @media only screen and (max-width:490px) {
    display: none;
  }
}

.padgett-blue-icon:hover{
  color: lighten(#002b7f,20%);
}


@import "~bootstrap/scss/bootstrap";

body {
  margin-bottom: 20px;
  
}

.form-group{
  margin-bottom: 0.50rem;

}

.label-bold {
  font-weight: bold;
}

.card-background-padgett{
  background: rgba(0, 43, 127, 0.02)
}

.login-header{
  background-color: var(--padgett-blue);
  color: white
}

.danger-header{
  background-color: red;
  color: white
}

.padgett-blue-background{
  background-color: var(--padgett-blue);
}

.btn-padgett{
  @include button-variant(#002b7f, darken(#002b7f,7.5%),lighten(#002b7f,10%),lighten(#002b7f,5%),lighten(#002b7f,10%),darken(#002b7f,30%))
}

.btn-outline-padgett {
  @include button-outline-variant(#002b7f, #222222, lighten(#002b7f,5%), #002b7f);
}

.padgett-text{
  color: var(--padgett-blue);
}

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.negative-left-margin {
  margin-left: -5px;
}

.negative-right-margin {
  margin-right: -5px;
}

/***************************************************/
//CSS for the Navbar
/***************************************************/
.navbar-brand {
  padding: 0px;
  color: var(--padgett-blue);
  font-weight: 500;
}

.navbar-brand>img {
  max-height: 50px;
  padding-top: 0px;
  width: auto;
}

.navbar {
background-color: #e5f1cc;
//background-color: white;
//border-top: 2px solid var(--padgett-green);
//border-left: 2px solid var(--padgett-green);
//border-right: 2px solid var(--padgett-green);
//border-bottom: 2px solid var(--padgett-green);
padding: 0px;
//background-color: var(--padgett-green  );
}

.navbar a {@media (max-width: 1200px) {  
  font-size: 0.9rem;
}}



.navbar li a {
  color: var(--padgett-blue  );
  @media (max-width: 1200px) {  
  font-size: 0.9rem;
}
}

.navbar:hover li a {
  color: var(--padgett-blue  );
}

.navbar-text{
  color: var(--padgett-blue  );
  padding-right: 10px;
  /* Extra large devices (large desktops, 1200px and up) */
  @media (max-width: 1200px) {  
    font-size: 0.9rem;
  }
  @media (max-width: 990px) {  
    display: none;
    padding-right: 0px;
  }

}


#admin-logout{ 
  @media (max-width: 767px) {  
   display: inline;
   width: 30%;
  }
} 
.stats-card h6 {
  @media (max-width: 1100px) {
    font-size: 0.85rem;
  }
  @media (max-width: 990px) {
    font-size: 0.8rem;
  }
  @media (max-width: 880px) {
    font-size: 0.70rem;
  }
  @media (max-width: 767px) {
    font-size: 1rem;
  }
}

.dropdown-divider{
  border-color: var(--padgett-blue);
}

.dropdown-menu{
  border-color: var(--padgett-blue);
  @media (max-width: 768px) {  
    border: 0px;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-item{
  padding: 0.10rem 1.5rem;
}



.default-padding {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;  
  @media only screen and (max-width: 1200px) {  
    padding-right: 20px;
    padding-left: 20px;
  }
    @media only screen and  (max-width: 768px) {  
    padding-right: 15px;
    padding-left: 15px;
  }

}

/***************************************************/
/* CSS for Error message formatting                */
/***************************************************/
  
.alert-error{
    background-color: #f2dede;
    border-color: #eed3d7;
    color: var(--padgett-blue);
    color: #b94a48;
    text-align: left;
}

.alert-alert{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    text-align: left;
}

.alert-success{
    background-color: #e5f1cc;
    border-color: var(--padgett-blue);
    color: var(--padgett-blue);
}

.alert-notice{
    background-color: #e5f1cc;
    border-color: var(--padgett-blue);
    color: var(--padgett-blue);

}

.alert-warning{
    border-color: var(--padgett-blue);
    color: var(--padgett-blue);
}


/* hides the spin-button for firefox */
input[type=number] {
    -moz-appearance:textfield;
    -webkit-appearance:textfield;
    -o-appearance:textfield;
    -khtml-appearance:textfield;
}

/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/***************************************************/
/* Table Layouts */
/***************************************************/

/* Table Striped */
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #E0E0E0;

 }

.tablewhite {background-color: White;}
.tablegray {background-color: LightGray;}

/* Table-dan has less space between rows */
table.table.table-dan th,
table.table.table-dan td {
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1rem;
} 


// Fixed Header table for reports where you can scroll
// but dont lose the values 

.fixed_header{
  width: 100%;
  border-spacing:0;
}

.fixed_header thead {
  display:block;}

.fixed_header tfoot {
  display:block;}


.fixed_header tbody{
  display:block;}   

.fixed_header tr{
  display:block;}

.fixed_header th{
  display:block;}

.fixed_header > thead > tr:last-child > th {
  border-bottom: 3px solid #ddd;
}

.fixed_header > tbody > tr:first-child td {
  border-top: 0px;
}

.fixed_header td{
  display:block;
  border-top: 1px solid #ddd;}

.fixed_header thead tr {
  width: 97%;
  width: -webkit-calc(100% - 16px);
  width:    -moz-calc(100% - 16px);
  width:         calc(100% - 16px);
}


.fixed_header tfoot tr {
  width: 97%;
  width: -webkit-calc(100% - 16px);
  width:    -moz-calc(100% - 16px);
  width:         calc(100% - 16px);
}

.fixed_header tr:after{
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.fixed_header tbody {
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.fixed_header td{
    float: left;
}

.fixed_header th {
  float: left;
}


.report_table {
  font-size: 15px;
  width: 100%;
  border-collapse: collapse;
}

.report_table th {
  background: var(--card-background);
  font-weight:bold;
  position: -webkit-sticky;
  position: sticky; 
  top: 0px;
  border: 1px solid;
}
.report_table tfoot {
  position: sticky;
  position: -webkit-sticky;
  bottom: calc(100vh-30px);
}

.report_table td, th {
  padding: 5px;
  text-align: left;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){
 .report_table {
  display: block;
 }
 .report_table thead, 
 .report_table tbody,
 .report_table th,
 .report_table td,
 .report_table tr {
  display: block;
 }

 .report_table thead  tr {
  position: absolute;
  top: -9999px;
  left: -9999px
 }

 .report_table tr {
  border: 1px solid #ccc;
 }

 .report_table td {
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50px;
 }

 .report_table td:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
 }

 .report_table td:before {
  content: attr(data-name);
 }
}

//TABLE USED FOR LISTS AND REPORT
//RESPONSIVE AND SWITCHES TO VERTICAL 
//DISPLAY ON PHONES

.table-scroll {
  position:relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;

}

.table-scroll table {
  font-size: 14px;
  width: 100%;
  //height: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}


.table-scroll th {
  border: 1px solid #ccc;
}

.table-scroll th,
.table-scroll td {
  padding: 5px 10px;
  vertical-align: middle;
}

.table-scroll tbody td {
  border-top: 1px solid #ddd;
}

.table-scroll tbody tr:first-child td {
  border-top: 0px;
}


.table-scroll thead th {
  font-weight:bold;
  font-size: 1rem;
  position: -webkit-sticky;
  position: sticky; 
  top: 0px;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: black;

}

.table-scroll #report th {
  background: #f5f7fa;
}

.table-scroll #list th {
  background: white;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td,
{
  background: #fff;
  font-weight: bold;
  border-width: 1px 0px 1px 0px;
  position: sticky;
  position: -webkit-sticky;
  border-style: solid;
  border-color: black;
  z-index:2;
}

.table-scroll #report-footer td{
  background: #f5f7fa;
}


.td-center {
 text-align: center;
 @media only screen and (max-width: 760px){
    text-align: left;
  }
}

.td-right {
  text-align: right;
  @media only screen and (max-width: 760px){
    text-align: left;
  }

}

.td-left {
  text-align: left;

}

.td-bold {
  font-weight: 700;
}

@media only screen and (max-width: 760px){
 .table-scroll {
  display: block;
 }

 .table-scroll thead, 
 .table-scroll tbody,
 .table-scroll th,
 .table-scroll td,
 .table-scroll tr {
  display: block;
 }
 .table-scroll table {
  height: 100%;
 }

 
 
 .table-scroll thead  tr {
  position: absolute;
  top: -9999px;
  left: -9999px
 }

 .table-scroll tr {
  border: 1px solid #ccc;
  
 }

 /* Zebra striping */
.table-scroll tr:nth-of-type(odd) { 
  background-color: #E0E0E0;
}



 .table-scroll td {
  border: none;
  //border-bottom: 1px solid #E0E0E0;
  position: relative;
  padding-left: 40%;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
 }

 .table-scroll td:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 30%;
  padding-right: 10px;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;


 }

 .table-scroll td:before {
  content: attr(data-name);
 }
}


.table-in-card thead th {
  border-top: 0px;
  border-bottom: 1px solid var(--padgett-blue);
  
  }

.table-in-card td {
  border-top: 0px;
  border-bottom: 0px;

  }



.field_with_errors {
  display: inline;
}

.field_with_errors input{
  border: 1px solid red !important;
}

.field_with_errors select{
  border: 1px solid red !important;
}


.form-horizontal .control-label{
text-align:left;
}

select.select-date {
  width: 30%;
  margin-right: 10px;
  float: left;
}

.select-date-wrapper{
  select:first-of-type{
    width: 25%;
  }
  select:nth-of-type(2){
    width: 25%;
  }
  select:last-of-type{
    margin-right: 0;
    width: 25%;
  }
}


/***************************************************/
//CSS for the navigation flickr type
/***************************************************/
.flickr_pagination {
  text-align: center;
  justify-content: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #002b7f; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }


/***************************************************/
// General CSS for wells, inputs etc 
/***************************************************/

.no-padding{
  padding: 0px;
}

.tooltip-inner{
  max-width: none;
  white-space: pre-line;
}

//Positive and negative values
.pos {color: #000;}
.neg {color: #f00;}

//Arrows to show if ranking is going up or down


.arrow-up{
  width: 0;
  height: 0;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-bottom: .5rem solid green;
}

.arrow-down{
  width: 0;
  height: 0;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-top: .5rem solid #f00;
}

input:required {
  background-color: rgba(0, 200, 0, 0.05);
}

select:required{
 background-color: rgba(0, 200, 0, 0.05); 
}

input:required:focus {
  border: 1px solid green;
  outline: none;
}

.card-title+h3:before {
  font-family: 'Font Awesome 5 Free' ;
  font-weight: 700;
  content: "\f146";
  padding-right: 5px;
}

.card-title+h3.collapsed:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f0fe";
  font-weight: 700;
  padding-right: 5px;
}

.panel-title+h3:before {
  font-family: FontAwesome;
  content: "\f056";
  padding-right: 5px;
}

.panel-title+h3.collapsed:before {
  font-family: FontAwesome;
  content: "\f055";
  padding-right: 5px;
}

// style input elements that have a required
// attribute and a hover state
input:required:hover {
  opacity: 1;
}



/*********************************************/
// CSS for Rankings on Main Page
/*********************************************/
.sectionClass {
  padding: 0px 0px 20px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}

.proposalFactsWrap{
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

#proposalFacts .fullWidth{
  padding: 0;
}

.proposalFactsWrap .item{
  width: 20%;
  height: 172px;
  padding: 10px 0px;
  text-align: center;
}

.proposalFactsWrap .item:nth-child(1){
  background: rgb(16, 31, 46);
}

.proposalFactsWrap .item:nth-child(2){
  background: rgb(18, 34, 51);
}

.proposalFactsWrap .item:nth-child(3){
  background: rgb(21, 38, 56);
}

.proposalFactsWrap .item:nth-child(4){
  background: rgb(23, 44, 66);
}

.proposalFactsWrap .item:nth-child(5){
  background: rgb(25, 48, 69);
}
.proposalFactsWrap .item:nth-child(6){
  background: rgb(25, 48, 69);
}

.proposalFactsWrap .item p.number{
  font-size: 20px;
  padding: 0;
  font-weight: bold;
}

.proposalFactsWrap .item p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}


.proposalFactsWrap .item span{
  width: 100px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}


.proposalFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}


.proposalFactsWrap .item:hover i, .proposalFactsWrap .item:hover p{
  color: white;
}

.proposalFactsWrap .item:hover span{
  background: white;
}

@media only screen and (max-width: 786px){
  .proposalFactsWrap .item {
     flex: 0 0 50%;
  }
}

.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.accordion-padgett {
  margin-bottom: 10px;
}


.radio-toolbar {
  margin-bottom: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: var(--padgett-blue);
  color: white;
}



.radio-toolbar input[type="radio"]:checked + label {
    background-color: var(--padgett-blue);
    color: white;
    border-color: var(--padgett-green);
}


@media print {
  body {margin:0; padding:0} 

  .table-scroll tbody tr td:before,
  .table-scroll tbody tr td:after{
    content: "";
    height: 4px;
    display: block;
  }

   .table-scroll {
    overflow: visible !important;
   }
  
  
}


#cookies-eu-banner {
    background: var(--padgett-blue);
    color: #fff;
    padding: 6px;
    font-size: 13px;
    text-align: center;
}

#cookies-eu-more,
#cookies-eu-accept,
#cookies-eu-reject {
    text-decoration: none;
    background: var(--padgett-green);
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    padding: 4px 7px;
    margin: 2px 0;
    font-size: 13px;
    font-weight: bold;
    transition: background 0.07s, color 0.07s, border-color 0.07s;
}
#cookies-eu-more:hover,
#cookies-eu-more:focus,
#cookies-eu-accept:hover,
#cookies-eu-accept:focus {
    background: #fff;
    color: #222;
}
#cookies-eu-more {
    margin-left: 7px;
}
#cookies-eu-accept {
    margin-left: 7px;
}
.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}


